// Colors setters
$white: #f9d45d;
$orange: #ff6600;
$lightgrey: #f6f6f6;
$darkgrey: #484848;
$redJK: #ffd744;
$blackJK: #171c24;

.svg-yellow{
	fill: $redJK;
}
.svg-black{
	fill: $blackJK;
	cursor:pointer;
	@include transition(fill, .3s, all);
	&:hover{
		fill: #ffffff;
		@include transition(fill, .3s, all);
		path{
			fill: #ffffff;
			@include transition(fill, .3s, all);
		}
		polygon{
			fill: #ffffff;
			@include transition(fill, .3s, all);
		}
	}
}